body,
html {
    height: 100%;
    margin: 0;
}

/* page d'accueil */

.nav-footer {
    /* tout aligner en bas */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: rgb(255, 255, 255);

}

.nav-ul-footer {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.box-custom {
    background-size: cover;
    /* Ajuste la taille de l'image pour couvrir complètement l'élément */
    background-position: center;
    /* Centre l'image dans l'élément */
    text-align: center;
    /* Alignement du texte */
    padding: 20px;
    /* Ajoute de l'espace intérieur à l'élément pour que le texte ne soit pas collé aux bords */

}

.card-title {
    color: antiquewhite;
}

.card-text {
    color: antiquewhite;
}

.login-text {
    color: cadetblue;
}

.card-title-bg {
    color: rgb(0, 0, 0);
}

.card-text-bg {
    color: rgb(0, 0, 0);
}

.listing-card-text {
    color: lightslategray;
}

._vuzcgs {
    -webkit-box-pack: end !important;
    -ms-flex-pack: end !important;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    position: relative !important;
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -webkit-flex !important;
    display: flex !important;
    align-items: center !important;
    justify-content: flex-end !important;
    height: 80px !important;
}

._pvfg6t {
    position: relative !important;
    display: inline-block !important;
    vertical-align: middle !important;
    margin-top: auto !important;
    margin-bottom: auto !important;
}

#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40px;
    width: 100vw;

}